<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.moletracker"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name" android:icon="@drawable/logo" android:theme="@android:style/Theme.Holo.Light">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name="com.example.moletracker.About"
            android:label="@string/about"
            android:parentActivityName="com.example.moletracker.MainActivity">
        </activity>

        <activity
            android:name="com.example.moletracker.TEST"
            android:label="TEST TEST TEST">
        </activity>

        <activity 
            android:name="com.example.moletracker.SkinAreas"
            android:label="@string/profile"
            android:parentActivityName="com.example.moletracker.MainActivity">
        </activity>

        <activity 
            android:name="com.example.moletracker.Area"
            android:label="@string/area1">
        </activity>
        <activity
            android:name="com.example.moletracker.Photos" >
         </activity>

        <activity
            android:name="com.example.moletracker.PhotoTaker"
            android:label="Photo Taker" >
         </activity>
        <activity
            android:name="com.example.moletracker.PhotoHandler"
            android:label="Photo Handler" >
        </activity>


      </application>
</manifest>
